version: 2.1

orbs:
  prodsec: snyk/prodsec-orb@1
  slack: circleci/slack@4

jobs:
  security-scans:
    resource_class: small
    docker:
      - image: cimg/go:1.21
    steps:
      - checkout
      - prodsec/security_scans:
          mode: auto
          open-source-additional-arguments: --exclude=testdata
          iac-scan: disabled

workflows:
  version: 2
  CICD:
    jobs:
      - prodsec/secrets-scan:
          name: Scan repository for secrets
          context:
            - snyk-bot-slack
          channel: snyk-on-snyk-devex_ide
          filters:
            branches:
              ignore:
                - main  
          
      - security-scans:
          context: devex_ide
