<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  ${headerEnd}
</head>
<body>
<div class="suggestion">
  <section class="suggestion--header">
    <div class="severity">
      <img id="severity-icon" src="${severityIcon}" alt="${severityText}"/>
    </div>
    <div class="suggestion-text">${issueTitle}</div>
    <div class="identifiers">${identifiers}</div>
    <!---<div class="learn">
      <img class="icon" src="${images['learn-icon']}" />
      <a class="learn--link"></a>
    </div>-->
  </section>
  <section class="delimiter-top summary">
    <div class="summary-item module">
      <div class="label font-light">Vulnerable module</div>
      <div class="content">${vulnerableModule}</div>
    </div>
    <div class="summary-item introduced-through">
      <div class="label font-light">Introduced through</div>
      <div class="content"></div>
    </div>
    <div class="summary-item fixed-in">
      <div class="label font-light">Fixed in</div>
      <div class="content"></div>
    </div>
    ${exploitMaturity}
  </section>
  <section class="delimiter-top summary">
    <h2>Detailed paths</h2>
    <div class="detailed-paths"></div>
  </section>
  <section class="delimiter-top">
    <div id="overview" class="vulnerability-overview">${overview}</div>
  </section>
</div>
<!--<script nonce="${nonce}" src="${scriptUri}"></script>-->
</body>
</html>
