.main-tabs-nav {
  display: flex;
}

.tab-item {
  padding: 10px;
  cursor: pointer;
}

.tab-item.is-selected {
  font-weight: bold;
}

.tab-content {
  display: none;
}

.tab-content.is-selected {
  display: block;
}

.is-clickable-true {
  cursor: pointer;
}

.is-clickable-false {
  cursor: not-allowed;
  opacity: 0.6;
}
