/* this is the IntelliJ new UI default font, and it's not available on a Mac standard install */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
  --default-font: "SF Pro Text", "Segoe UI", "Ubuntu", Geneva, Verdana, Tahoma, sans-serif;
  --background-color: var(--vscode-editor-background);
  --text-color: var(--vscode-foreground);
  --link-color: var(--vscode-textLink-foreground);
  --scroll-bar-hover-background-color: var(#595a5c);
  --horizontal-border-color: var();
  --code-background-color: var(--vscode-editor-background);
  --horizontal-border-color: var(--vscode-textPreformat-background);
  font-size: 10px;
}


::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var();
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  padding: 0;
  background-color: var(--background-color);
  font-family: var(--default-font);
  font-size: 1.3rem;
  color: var(--text-color);
  overflow-y: auto;
  overflow-x: hidden;
}

body > *, form > * {
  margin-block-start: 0;
}


h2 {
  margin: initial;
}

h2, h3 {
  font-size: 1.3rem;
  margin-block-start: 0;
  margin-block-end: 0.4rem;
  font-weight: 600;
}

section {
  padding: 20px;
}

.styled-link {
  text-decoration: none;
}

.styled-link:hover {
  cursor: pointer;
  text-decoration: underline;
}
.font-light {
  font-weight: bold;
}

a,
.link {
  color: var(--link-color);
}

.delimiter-top {
  border-top: 1px solid var(--horizontal-border-color);
}
h2, h3{
  text-transform: uppercase;
}

code {
  color: var(--text-color);
  padding: 2px 4px;
  border-radius: 4px;
  font-family: monospace;
}

section {
  padding: 20px;
}

.styled-link {
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
}


.suggestion {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-block-start: 0;
}

.suggestion .suggestion-text {
  margin-top: 0;
  margin-bottom: 0.8rem;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 2.4rem;
}

.severity {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  float: left;
  margin: 0 1rem 0 0;
  text-align: center;
}


.delimiter {
  height: 10px;
  border-right: 1px solid var(--horizontal-border-color);
  margin: 0 0.8rem;
}

.sn-fix-wrapper {
  background-color: var(--code-background-color);
  border-radius: 4px;
}

.summary .summary-item {
  display: flex;
  margin: 0.3em 0 0.3em 0;
}

.summary-item p {
  margin: 0 0 1rem 0;
}

.summary .label {
  width: 160px;
  margin: inherit;
}

.summary .content {
  flex: 70%;
  margin: inherit;
}

.summary .summary-item.path pre {
  margin: 0;
}

.summary-item.path pre {
  margin: 0;
  white-space: pre-wrap;
  word-break: break-all;
}

div.remediation {
  padding: 1.6rem;
}

div.remediation p {
  margin: 0;
}

header {
  padding: 0px 20px 5px 20px;
}

.sn-issue-header {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(0, transparent, var(--vscode-tab-activeBackground));
  margin: inherit;
  padding: 20px;
}

.sn-title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.severity-icon {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}

.sn-issue-title {
  font-size: 2rem;
  font-weight: 500;
  margin: 0;
}

.sn-issue-meta {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  margin-top: 1rem;
  line-height: 2rem;
}

.severity .icon {
  width: 32px;
  height: 32px;
}

footer {
  padding: 0px 20px 5px 20px;
}

#ignore-actions {
  margin-top: 10px;
  margin-bottom: 5px;
}

.actions {
  justify-content: space-between;
  display: flex;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.ignore-button.secondary {
  color: whitesmoke;
  cursor: pointer;
  width: auto;
  padding: 6px 16px;
  border-radius: 3px;
  background: none;
  line-height: 1;
}

.ignore-action-container {
  bottom: 0;
  width: 100%;
  margin-block-end: 0;
}
.hidden{
  display: none;
}
