name: Build
on:
  pull_request:

jobs:
  unit-tests:
    name: unit tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version-file: './go.mod'

      - name: Set up Snyk CLI
        uses: snyk/actions/setup@master

      - name: Cache Pact CLI tools
        id: cache-pact
        uses: actions/cache@v3
        with:
          path: ~/pact
          key: ${{ runner.os }}-pact

      - name: Set up Pact CLI tools
        shell: bash
        if: steps.cache-pact.outputs.cache-hit != 'true'
        run: |
          cd ~
          curl -fsSL https://raw.githubusercontent.com/pact-foundation/pact-ruby-standalone/master/install.sh | bash

      - name: Cache Go modules
        uses: actions/cache@v2
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: ${{ runner.os }}-go-

      - name: Lint source code
        run: |
          make tools lint

      - name: Run tests
        env:
          DEEPROXY_API_URL: ${{secrets.DEEPROXY_API_URL}}
          SNYK_TOKEN: ${{secrets.SNYK_TOKEN }}
        run: |
          export PATH=$PATH:~/pact/bin
          make clean test

      - name: Snyk
        env:
          SNYK_TOKEN: ${{secrets.SNYK_TOKEN }}
        run: |
          snyk monitor
          snyk code test

  integration-tests:
    name: integration-tests
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]
    steps:
      - uses: actions/checkout@v2

      - name: Determine Go version
        run: |
          sed -En 's/^go[[:space:]]+([[:digit:].]+)$/GO_VERSION=\1/p' go.mod >> $GITHUB_ENV

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Cache Pact CLI tools
        if: matrix.os != 'windows-latest'
        id: cache-pact
        uses: actions/cache@v3
        with:
          path: ~/pact
          key: ${{ runner.os }}-pact

      - name: Set up Pact CLI tools
        shell: bash
        if: steps.cache-pact.outputs.cache-hit != 'true' && matrix.os != 'windows-latest'
        run: |
          cd ~
          curl -fsSL https://raw.githubusercontent.com/pact-foundation/pact-ruby-standalone/master/install.sh | bash

      - name: Run integration tests with Pact
        if: matrix.os != 'windows-latest'
        env:
          DEEPROXY_API_URL: ${{secrets.DEEPROXY_API_URL}}
          SNYK_TOKEN: ${{secrets.SNYK_TOKEN }}
          INTEG_TESTS: 'true'
        run: |
          export PATH=$PATH:~/pact/bin
          make clean test

      - name: Run integration tests without Pact
        if: matrix.os == 'windows-latest'
        env:
          DEEPROXY_API_URL: ${{secrets.DEEPROXY_API_URL}}
          SNYK_TOKEN: ${{secrets.SNYK_TOKEN }}
          INTEG_TESTS: 'true'
        run: |
          make clean test

  race-test:
    name: race-test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Determine Go version
        run: |
          sed -En 's/^go[[:space:]]+([[:digit:].]+)$/GO_VERSION=\1/p' go.mod >> $GITHUB_ENV

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Cache Pact CLI tools
        id: cache-pact
        uses: actions/cache@v3
        with:
          path: ~/pact
          key: ${{ runner.os }}-pact

      - name: Set up Pact CLI tools
        shell: bash
        if: steps.cache-pact.outputs.cache-hit != 'true'
        run: |
          cd ~
          curl -fsSL https://raw.githubusercontent.com/pact-foundation/pact-ruby-standalone/master/install.sh | bash

      - name: Run race tests
        env:
          DEEPROXY_API_URL: ${{secrets.DEEPROXY_API_URL}}
          SNYK_TOKEN: ${{secrets.SNYK_TOKEN }}
          INTEG_TESTS: 'true'
        run: |
          export PATH=$PATH:~/pact/bin
          make clean race-test

  test-release:
    name: test-release
    needs: [ integration-tests, unit-tests, race-test ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Determine Go version
        run: |
          sed -En 's/^go[[:space:]]+([[:digit:].]+)$/GO_VERSION=\1/p' go.mod >> $GITHUB_ENV

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Do test release with goreleaser
        uses: goreleaser/goreleaser-action@v2
        with:
          args: release --snapshot --rm-dist --skip-publish
