# Copyright 2022 Snyk Ltd.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: instance-tests
on:
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: "3 * * * *" # hourly
  push:
    branches:
      - "main"

jobs:
  instance-tests:
    strategy:
      matrix:
        environment: [Standard, MT1, MT3]
    name: instance tests
    environment: ${{matrix.environment}}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version-file: "./go.mod"

      - name: Cache Go modules
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: ${{ runner.os }}-go-

      - name: Run Instance Tests
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
          SNYK_API: ${{ secrets.SNYK_API }}
        run: |
          make instance-test

  slackNotification:
    needs: [instance-tests]
    runs-on: ubuntu-latest
    if: ${{ github.ref == 'refs/heads/main' && (needs.instance-tests.result != 'success' || needs.instance-standard-test.result != 'success') }}
    steps:
      - name: Slack Notification
        uses: slackapi/slack-github-action@v1.24
        with:
          payload: |
            {
              "blocks": [
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": ":WARNING: Language Server Instance Tests Failed\n*<https://github.com/snyk/snyk-ls/actions/workflows/instance-tests.yaml|GHA Workflow - Instance Tests>*"
                  },
                  "fields": [
                    {
                      "type": "mrkdwn",
                      "text": "*Repository*"
                    },
                    {
                      "type": "mrkdwn",
                      "text": "*Branch*"
                    },
                    {
                      "type": "mrkdwn",
                      "text": "<https://github.com/${{ github.repository }}|${{ github.repository }}>"
                    },
                    {
                      "type": "mrkdwn",
                      "text": "${{ github.ref_name }}"
                    }
                  ]
                }
              ]
            }
        env:
          SLACK_WEBHOOK_URL: "${{ secrets.SLACK_WEBHOOK_URL }}"
