name: Release
on:
  push:
    branches:
      - 'main'

jobs:
  release:
    name: goreleaser
    runs-on: ubuntu-latest
    steps:
      - name: Prepare git
        run: git config --global core.autocrlf false

      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0 # does an unshallow checkout with tags & branches

      # this step can be removed if setup-go will support reading go-version from go.mod
      - name: Determine Go version
        run: |
          sed -En 's/^go[[:space:]]+([[:digit:].]+)$/GO_VERSION=\1/p' go.mod >> $GITHUB_ENV

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Cache Pact CLI tools
        id: cache-pact
        uses: actions/cache@v3
        with:
          path: ~/pact
          key: ${{ runner.os }}-pact

      - name: Set up Pact CLI tools
        shell: bash
        if: steps.cache-pact.outputs.cache-hit != 'true'
        run: |
          cd ~
          curl -fsSL https://raw.githubusercontent.com/pact-foundation/pact-ruby-standalone/master/install.sh | bash

      - name: Cache Go modules
        uses: actions/cache@v2
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: ${{ runner.os }}-go-

      - name: Lint source code
        run: |
          make tools lint

      - name: Set up Snyk CLI # Tests need it
        uses: snyk/actions/setup@master

      - name: Run tests
        env:
          DEEPROXY_API_URL: ${{secrets.DEEPROXY_API_URL}}
          SNYK_TOKEN: ${{secrets.SNYK_TOKEN }}
        run: |
          export PATH=$PATH:~/pact/bin

          # this is required to be able to test the clipboard
          export DISPLAY=:99
          sudo Xvfb -ac :99 -screen 0 1280x1024x24 > /dev/null 2>&1 &

          make clean test

      - name: Run integration and smoke tests
        env:
          DEEPROXY_API_URL: ${{secrets.DEEPROXY_API_URL}}
          SNYK_TOKEN: ${{secrets.SNYK_TOKEN }}
          INTEG_TESTS: 'true'
          SMOKE_TESTS: 'true'
        run: |
          export PATH=$PATH:~/pact/bin

          # this is required to be able to test the clipboard
          export DISPLAY=:99
          sudo Xvfb -ac :99 -screen 0 1280x1024x24 > /dev/null 2>&1 &

          make clean test

      - name: Set up Git actions user
        uses: fregante/setup-git-user@v1

      - name: Collect and save licenses
        run: |
          go install github.com/google/go-licenses@latest
          go-licenses save . --save_path="licenses"
          git add licenses
          git
          git push
          git clean && git reset --hard

      - name: Create release tag
        run: |
          git tag "v$(git show -s --format=%cd --date=format:%Y%m%d.%H%M%S)"
          git push --tags

      - name: Release binaries with GoReleaser
        uses: goreleaser/goreleaser-action@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: ${{ secrets.AWS_REGION }}
          AWS_S3_BUCKET_NAME: ${{ secrets.AWS_S3_BUCKET_NAME }}
        with:
          args: release --rm-dist
